

.bg {
	font-family: sans-serif;
	  background-image: url("https://steamuserimages-a.akamaihd.net/ugc/961964348755441641/AD7A22B5611A887B38ECF7F6226A39C73A49EFC4/");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}


.audio-player img,
video {
	max-width: 100%;
	height: auto;
}

.audio-player {
	position: relative;
	width: 100%;
	height: 0;
	text-align: center;
	padding-bottom: 100%;
	background-color: #7726e4;
}

.audio-player video {
	opacity: 0;
	transition: opacity 300ms;
	will-change: opacity;
}

.audio-player:focus .audio-player__cover,
.audio-player:hover .audio-player__cover,
.audio-player.is-playing .audio-player__cover {
	opacity: 0.35;
}

.audio-player:focus .audio-player__title,
.audio-player:hover .audio-player__title,
.audio-player.is-playing .audio-player__title {
	opacity: 1;
	transform: translateY(0);
}

.audio-player:focus .audio-player__control-icon,
.audio-player:hover .audio-player__control-icon,
.audio-player.is-playing .audio-player__control-icon {
	transform: scale(1.15);
}

.audio-player.is-playing .audio-player__cover {
	opacity: 0;
}

.audio-player.is-playing video {
	opacity: 1;
}

.audio-player.is-playing .audio-player__control-icon:before {
	transform: translateY(0);
}

.audio-player.is-playing .audio-player__control-icon:after {
	transform: translateY(50px);
}

.audio-player__cover {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	transition: opacity 350ms;
	will-change: opacity;
}

.audio-player__title {
	position: absolute;
	color: #fff;
	font-size: 22px;
	font-weight: 500;
	left: 10px;
	right: 10px;
	bottom: 0;
	top: 50%;
	padding-top: 50px;
	transform: translateY(-5%);
	z-index: 10;
	opacity: 0;
	transition: all 300ms;
	will-change: transform, opacity;
}

.audio-player__control {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 20;
	border: none;
	background: none;
	cursor: pointer;
}

.audio-player__control:focus {
	outline: none;
}

.audio-player__control-icon {
	position: absolute;
	width: 65px;
	height: 65px;
	border-radius: 50%;
	border: 3px solid #fff;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	overflow: hidden;
	transition: all 250ms ease-out;
	transform: scale(1);
	will-change: transform;
}

.audio-player__control-icon::after,
.audio-player__control-icon::before {
	transition: all 200ms;
	will-change: transform;
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	margin: auto;
}

.audio-player__control-icon::after {
	left: 5px;
	width: 0;
	height: 0;
	border-top: 16px solid transparent;
	border-bottom: 16px solid transparent;
	border-left: 20px solid #fff;
	transform: translateY(0);
}

.audio-player__control-icon::before {
	width: 15px;
	height: 30px;
	border-right: 6px solid #fff;
	border-left: 6px solid #fff;
	transform: translateY(-50px);
}

.audio-players {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.audio-players li {
	display: inline-block;
	vertical-align: top;
	max-width: 300px;
	margin: 20px;
}
.audio-players .pay{
    color: white;
    background-color: #660045;
    width: 100%;
    height: 50px;
    border-radius: 0px;
}
.audio-players .pay:hover{
    color: white;
    background-color: #852BA8;
    width: 100%;
    height: 50px;
    border-radius: 0px;
}